<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<title>AI Study Helper</title>
</head>

<body>

<div class="burger" onclick="toggleMenu()">☰</div>

<div class="layout">

    <div class="sidebar" id="sidebar">
        <div onclick="loadPage('home')">💬 Чат</div>
        <div onclick="loadPage('explain')">📚 Объяснение</div>
        <div onclick="loadPage('test')">❓ Тест</div>
    </div>

    <div class="content">
        <div id="main"></div>
        <div id="topbar">
            <input id="input" placeholder="Введите сообщение...">
            <button onclick="send()">➤</button>
        </div>
    </div>

</div>
    
<script src="/static/script.js"></script> 

</body>
<footer>Искусственный интеллект может допускать ошибки. Проверяйте важную информацию. </footer>
</html>
