<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<title>AI Study Helper</title>
</head>

<body>

<div class="header">

    <div class="logo">AI Study Helper</div>

</div>

<div class="container">

    <div class="sidebar">
        <div onclick="loadPage('home')">🏠 Главная</div>
        <div onclick="loadPage('explain')">📚 Объяснение</div>
        <div onclick="loadPage('test')">❓ Тесты</div>
    </div>
    <div class="content">

        <div id="main"></div>

        <div id="topbar" class="topbar" style="display:none;">
            <input id="input" placeholder="Введите тему...">
            <button onclick="send()">➤</button>
        </div>

    </div>

</div>

<script src="/static/script.js"></script> 

</body>
<footer>Искусственный интеллект может допускать ошибки. Проверяйте важную информацию. </footer>
</html>
